/*-----General-----*/

body, html{
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0;
    min-width: 1400px;
    background-color: #F3F3F5;
}

p, a, h1, h2, h3, h4, h5, footer, span{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #333333;
}
h1{
	font-size: 60px;
	font-weight: 900;
    -webkit-font-smoothing: antialiased;

}

h3{
font-size: 30px;
float: left;
width: 100%;
}

h2.mainTitle{
    font-size: 40px;
    margin-bottom: 40px;
}


p, a, span {
    margin: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    display: block;
}
a{
  text-decoration: none;
}
a:hover, a:focus{
    cursor: pointer;
}

/*----END-General-----*/

/*--------------------------------------Menu-*/	
.main-menu {
  width: 100%;
  box-sizing: border-box;
  float: left;
  margin-top: 2%;
}

a.logo-holder {
	float: left;
	color:white;
	text-decoration: none;
    font-weight: bold;
}

.nav-menu-list{
    float: right;
}

.nav-menu-list a{
    color: white;
    margin-left: 30px;
    display: inline-block;

}
.nav-menu-list a:hover{
    padding-bottom: 2px;
   border-bottom: 2px solid white;
}

/*--------------------------------------END-Menu-*/

/*--------------------------------------Banner line effect-*/

svg {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.1;
}

path {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

/*--------------------------------------END Banner line effect-*/

.mainBanner {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    z-index: 2;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #27324b;
}
.mainBanner h1 {
    max-width: 940px;
    display: inline-block;
    margin-top: 100px;
    line-height: 66px;
    color: white;
}

.mainBanner .my-download-holder{
  float: left;
  width: 100%;
}
a.My-download{
    margin-right: 20px;
    color: white;
    display:inline-block;
    margin-top: 40px;
}
a.My-download:hover{
    padding-bottom: 5PX;
    border-bottom: 2px solid white;
}

a.main-message-text p.main-text-about-me{
    position: relative;
    bottom: -64px;
    left: -200px;
    color: #555555;
    font-size: 20px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 20px;
  height: 50px;
  margin-left: -10px;
  bottom: 30px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #fff;
  margin-left: -3px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll { 50% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}
@keyframes scroll { 50% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}


/*-----About me-----*/

.about-content{
    width: 96%;
    padding-top:160px; padding-bottom: 160px;
    padding-right:2%; padding-left:2%;
    display: inline-block;
}

.about-content p{
    width: 70%;
    box-sizing: border-box;

}
/*-----Capabilities-----*/
.Capabilities-content{
    width: 96%;
    padding-bottom: 160px;
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;

}

.Capabilities-content span{
    color: gray;
    margin-top: 20px;
    display: block;

}

.Capabilities-content ul{
    float: left;
    margin-bottom: 40px;
    margin: 0;
    padding: 0;
}
.Capabilities-content ul li{
    list-style: none;
    list-style-position: inside;
    float: left;
    margin-bottom: 40px;
    width: 50%;

	}
    .Capabilities-content ul li span.space{
    margin-bottom: 20px;
    }

    .Capabilities-content ul li h2{
    float: left;
    width: 100%;
    color: #e6e6e6;

    }
    .Capabilities-content ul li div{
    width: 80%;
    float: left;

    }

    .Capabilities-content ul li:last-child{
    margin-bottom: 0;
    }


/*-----My work-----*/

.MyWorkWidth{
    width: 96%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: inline-block;
    padding-right: 2%;
    padding-left: 2%;
}
.holderImgWork{
    overflow:hidden;
}
.Work-Hoder{
    transition: transform .2s; /* Animation */
}

.Work-Hoder:hover{
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.VM-project{
    background-image: url("../images/vm_menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.EC-project{
    background-image: url("../images/electric_car.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.cleaning-Service-project{
    background-image: url("../images/Cleaning_service.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #c9f1ff;
}
.nutrition-clinic-project{
    background-image: url("../images/Nutrition_app.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f8edba;
}
.fork-restaurant-project{
    background-image: url("../images/fork_Restaurant.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#FFFFFF;
}

.myWork-item{
    width: 50%;
    float: left;
    margin-bottom: 40px;
    }

a.Work-Hoder{
	display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    height: 500px;
}

.myWork-item:hover .Work-Hoder > div.work-title-description{
        display: block;
                        background: rgba(39,50,75,1);
        background: -moz-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,50,75,1)), color-stop(61%, rgba(231,56,39,0)));
        background: -webkit-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -o-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -ms-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: linear-gradient(to bottom, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27324b', endColorstr='#e73827', GradientType=0 );
}

.work-title-description{
    float: left;
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

a.view-project{
	margin-top: 10px;
	font-weight: 300;
     color: #333333;
    display: block;
    float: left;
    border-bottom: 2px solid white;
    padding-bottom: 5PX;
}
a.view-project:hover{
      border-bottom: 2px solid #333333;
      padding-bottom: 5PX;
    }

.myWork-item .projects-images{
	width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
}


/*--- footer copyrights ---*/

.footer-holder{
    width: 96%;
    background: #27324b;
    display: inline-block;
    position: relative;
    padding-top: 100px;
    padding-right: 2%;
    padding-left: 2%;
}

.footer-holder .my-download-holder{
    float: right;

}
.footer-holder .my-download-holder a{
    margin-top: 0;
    margin-right: 0;
    margin-left: 20px;
    }

.footer-holder p, .footer-holder a{
	color: white;
	}

.footer-message{
	max-width: 460px;
	width: 100%;
	float: left;
}
.footer-message p{
	font-size: 30px;
}

.mysocials-holder{
	float: right;
}
.mysocials-holder a{
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
	text-decoration: none;
	padding-bottom: 5PX;
	border-bottom: 2px solid white;
    font-weight: 600;
	}

.contact-info-holder{
    display: inline-block;
    width: 600px;
}

.contact-info-holder span{
   width: 100%;
   float: left;
   color: gray;
    }

.contact-info-holder p{
    float: left;
    width: 300px;
    height: 80px;
}

.copyrights {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
}
.copyrights p{
font-size: 14px;
    float: left;
    text-align: center;
    width: 100%;
}

@media (min-width: 300px) and (max-width: 900px) {

    .mainBanner{
        background-color: #224758;
        padding-bottom: 40px;
    }

    h1{
        font-size: 40px;
        line-height: 45px;
    }

    h1, p, h2, h3, span,
    .mainBanner .my-download-holder,
    .logo-holder,
    .nav-menu-list,
    .main-menu {
        text-align: center;
        float: none;
    }
    .icon-scroll, #canvas-basic, a.view-project{
        display: none;
    }

    body, html{
        min-width:100%;
    }
    
    .logo-holder,
    .nav-menu-list,
    .about-content p, 
    .Capabilities-content ul li,
    .Capabilities-content ul li div,
    .myWork-item,
    .footer-holder .my-download-holder,
    .contact-info-holder,
    .contact-info-holder p,
    body, html, h3,
    .work-title-description
    {
        width: 100%;
    }

    .Work-Hoder{
        background-size: cover;
    }

    .footer-holder .my-download-holder a{
        margin: 0 10px 0 10px;
    }
    .footer-holder .my-download-holder{
        float: none;
        display: block;
        text-align: center;
    }

  }



	
