/*-----General-----*/

body, html{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
    background-color: #F3F3F5;
}

p, a, h1, h2, h3, h4, h5, footer, span{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #333333;
}
a:hover{
    text-decoration: underline;
}
h1{
	font-size: 60px;
	font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

h2{
    margin-bottom: 30px;
    font-size: 30px;
}

h3{
    font-size: 20px;
    float: left;
    width: 100%;
}

p, a, span {
    margin: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    display: block;
}
a{
  text-decoration: none;
}
a:hover, a:focus{
    cursor: pointer;
}

/*----END-General-----*/

/*--------------------------------------Menu-*/	
.main-menu {
  width: 100%;
  box-sizing: border-box;
text-align: center;
  margin-top: 2%;
}

a.logo-holder {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu-list{
    float: right;
}

.nav-menu-list a{
    color: white;
    margin-left: 30px;
    display: inline-block;
}

/*--------------------------------------END-Menu-*/
.mainBanner, #canvas{
    height: 695px;
}
.mainBanner {
    width: 96%;
    padding: 100px 2% 100px 2%;
    position: relative;
    z-index: 2;
    text-align: center;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;   
}
#canvas{
    top: 0;
    position: absolute;
    background-color: #27324b;
    width: 100%;
}

.mainBanner h1 {
    max-width: 940px;
    display: inline-block;
    margin-top: 60px;
    line-height: 66px;
    color: white;
}

.mainBanner .my-download-holder{
  float: left;
  width: 100%;
}
a.My-download{
    margin-right: 30px;
    color: white;
    display:inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
}

a.main-message-text p.main-text-about-me{
    position: relative;
    bottom: -64px;
    left: -200px;
    color: #555555;
    font-size: 20px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 20px;
  height: 50px;
  margin-left: -10px;
  bottom: 30px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #fff;
  margin-left: -3px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll { 50% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}
@keyframes scroll { 50% {
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}

/*-----Main Container-----*/

.wrapper{
    width:1000px;
    margin: 140px auto 0 auto;

}

.about-content, .Capabilities-content, .MyWorkWidth, .article-content{
    padding-bottom: 140px;
    margin: 0 auto 0 auto;
    float: left;
    width: 100%;
}

/*----END-Main Container-----*/



/*-----Capabilities-----*/
.Capabilities-content span{
    color: gray;
    margin-top: 20px;
    display: block;

}

.Capabilities-content ul{
    float: left;
    margin-top: 0;
    padding: 0;
    display: block;
}
.Capabilities-content ul li{
    list-style: none;
    list-style-position: inside;
    float: left;
    margin-bottom: 40px;


	}
    .Capabilities-content ul li span.space{
    margin-bottom: 20px;
    }

    .Capabilities-content ul li h2{
    float: left;
    width: 100%;
    color: #e6e6e6;
    }
 

    .Capabilities-content ul li:last-child{
    margin-bottom: 0;
    }


/*-----My work-----*/

.holderImgWork{
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid white;
}
.holderImgWork:hover{
    border: 10px solid #90FFEA;

}
.Work-Hoder{
    transition: transform .2s; /* Animation */
}

.Work-Hoder:hover{
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
}

.technologies_Radar{
    background-image: url("../images/Technologies_Radar.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #c9f1ff;
    background-size: cover;
}

.VM-project{
    background-image: url("../images/vm_menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.EC-project{
    background-image: url("../images/electric_car.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.cleaning-Service-project{
    background-image: url("../images/Cleaning_service.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #c9f1ff;
}
.nutrition-clinic-project{
    background-image: url("../images/Nutrition_app.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f8edba;
}
.fork-restaurant-project{
    background-image: url("../images/fork_Restaurant.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#FFFFFF;
}

.myWork-item{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    }

a.Work-Hoder{
	display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    height: 500px;
}

.myWork-item:hover .Work-Hoder > div.work-title-description{
        display: block;
                        background: rgba(39,50,75,1);
        background: -moz-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,50,75,1)), color-stop(61%, rgba(231,56,39,0)));
        background: -webkit-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -o-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: -ms-linear-gradient(top, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        background: linear-gradient(to bottom, rgba(39,50,75,1) 0%, rgba(231,56,39,0) 61%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27324b', endColorstr='#e73827', GradientType=0 );
}

.work-title-description{
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
}

a.view-project{
	margin-top: 10px;
	font-weight: 300;
     color: #333333;
    display: block;
    float: left;
}

.myWork-item .projects-images{
	width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
}

/*--- Article ---*/
.article-link i{
    float: right;
    margin-top: 3px;
}

a.article-link{  
    padding: 2%;
    width: 96%;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #D5F8F3;
    color: black; 
}

a.article-link:hover{  
    background-color: #90FFEC;
}

/*--- footer copyrights ---*/

.footer-holder{
    width: 100%;
    background: #27324b;
    display: inline-block;
    text-align: center;
}

.contact-info-holder p, .contact-info-holder a{
color: white;
}

.contact-info-holder strong{
    display: block;
}

.footer-message{
	max-width: 460px;
	width: 100%;
	float: left;
}
.footer-message p{
	font-size: 30px;
}

.mysocials-holder{
	float: right;
}
.mysocials-holder a{
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
	text-decoration: none;
	padding-bottom: 5PX;
	border-bottom: 2px solid white;
    font-weight: 600;
	}

.contact-info-holder{
    display: inline-block;
}

.contact-info-holder span{
   width: 100%;
   float: left;
   color: gray;
    }

.contact-info-holder p{
    float: left;
    margin-right: 30PX;
}

.copyrights {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    display: block;
}
.copyrights p{
    font-size: 14px;
    float: left;
    width: 100%;
    color: white;
}

@media (min-width: 300px) and (max-width: 900px) {


    .about-content, .Capabilities-content, .MyWorkWidth, .article-content, a.view-project {
        text-align: center;
    }
    a.view-project{
        width: 100%;
    }
    .mainBanner, #canvas{
        height: 930px;
    }
    .mainBanner {
        padding: 50px 2% 50px 2%;
        margin: 0 auto;
    }
    .wrapper{
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }    

    .mainBanner h1{
        font-size: 40px;
        line-height:40px;
    }

    .my-download-holder{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    a.My-download{
        margin:16px;
    }

    .article-link i{
        display: none;
    }

    .contact-info-holder{
        text-align: center;
        margin: auto;
        
    }
    .contact-info-holder p{
        float: none;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    
  }
