body{
margin: 0;
padding: 0;
}  

img{
width: 100%;
}


.steps{
	width: 1400px;
	margin: 0 auto;
}

.video{
	position: relative;
}



.videoHolder-right{
    position: absolute;
    z-index: 1;
    top: 122px;
    left: 62%;
    margin-left: -180px;
}

.videoHolder-left{
position: absolute;
    z-index: 1;
    top: 122px;
    left: 38%;
    margin-left: -180px;
}


/*-----One Video Holder-------*/

.videoHolder{
    position: absolute;
    z-index: 1;
    top: 122px;
    left: 50%;
    margin-left: -180px;
}

.vimeoHolder{
position: absolute;
    z-index: 3;
    left: 54px;
    top: 124px;
}

.iPhoneBody{
width: 361px;
    height: 701px;
    position: absolute;
    z-index: 2;
}



